<%= form_for :account, url: account_login_path do |f| %>

    <p>
      <%= f.label :usuario %><br>
      <%= f.text_field :usuario %>
    </p>

    <p>
      <%= f.label :password %><br>
      <%= f.text_field :password %>
    </p>

    <p>
      <%= f.submit "Log in" %>
    </p>
<% end %>