<%= link_to 'Edit info', account_edit_path %>

<p>
  <strong>Nombre:</strong>
  <%= @patient.nombre %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @patient.apellido1 %> <%= @user.apellido2 %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @patient.fecha_nacimiento %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @patient.usuario %>
</p>

<p>
  <strong>Identificaci&oacute;n:</strong>
  <%= @patient.identificacion %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @patient.sexo %>
</p>

<p>
  <strong>Ocupaci&oacute;n:</strong>
  <%= @patient.ocupacion %>
</p>