<%= link_to "Edit information", account_edit_path, user: @user, :method => :post, remote: true %>

<p>
  <strong>Nombre:</strong>
  <%= @user.nombre %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @user.apellido1 %> <%= @user.apellido2 %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @user.fecha_nacimiento %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @user.usuario %>
</p>

<p>
  <strong>Identificaci&oacute;n:</strong>
  <%= @user.identificacion %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @user.sexo %>
</p>

<p>
  <strong>Ocupaci&oacute;n:</strong>
  <%= @user.ocupacion %>
</p>