<%= form_for :account, url: account_update_path do |f| %>

    <% if @patient.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@patient.errors.count, "error") %> antes de guardar:</h2>

          <ul>
            <% @patient.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <strong>Nombre:</strong>
      <%= f.text_field :nombre, :value => @patient.nombre %>
    </p>

    <p>
      <strong>Apellidos:</strong>
      <%= f.text_field :apellido1, :value => @patient.apellido1 %>
      <%= f.text_field :apellido2, :value => @patient.apellido2 %>
    </p>

    <p>
      <strong>Correo de registro:</strong><br>
      <%= @patient.email %>
    </p>

    <p>
      <strong>Nombre de usuario:</strong><br>
      <%= @patient.usuario %>
    </p>

    <p>
      <strong>Número de Identificación:</strong><br>
      <%= f.text_field :identificacion, :value => @patient.identificacion %>
    </p>

    <p>
      <strong>Fecha de nacimiento:</strong><br>
      <%= f.date_select(:fecha_nacimiento,:start_year => 1940, selected: @patient.fecha_nacimiento) %>
    </p>

    <p>
      <strong>Sexo:</strong><br>
      <%= f.radio_button :autolyse, true, :checked => true%>
      <%= f.label :autolyse, "Masculino" %>
      <%= f.radio_button :autolyse, false %>
      <%= f.label :autolyse, "Femenino" %>
    </p>

    <p>
      <strong>Ocupación:</strong><br>
      <%= f.text_field :ocupacion, :value => @patient.ocupacion %>
    </p>

    <p>
      <%= f.submit "Editar" %>
    </p>
<% end %>