<%= form_for :account, url: account_edit_path do |f| %>

    <p>
      <strong>Nombre:</strong>
      <%= @patient.nombre %>
    </p>

    <p>
      <strong>Apellidos:</strong>
      <%= @patient.apellido1 %> <%= @patient.apellido2 %>
    </p>

    <p>
      <strong>Nombre de usuario:</strong><br>
      <%= f.text_field @patient.usuario %>
    </p>

    <p>
      <%= f.submit "Editar" %>
    </p>
<% end %>
