<%= form_for :account, url: account_update_path do |f| %>

    <% if @patient.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@patient.errors.count, "error") %> antes de guardar:</h2>

          <ul>
            <% @patient.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <strong>Nombre:</strong>
      <%= @patient.nombre %>
    </p>

    <p>
      <strong>Apellidos:</strong>
      <%= @patient.apellido1 %> <%= @patient.apellido2 %>
    </p>

    <p>
      <strong>Nombre de usuario:</strong><br>
      <%= f.text_field :usuario, :value => @patient.usuario %>
    </p>

    <p>
      <%= f.submit "Editar" %>
    </p>
<% end %>
