<%= form_for :register, url: register_create_path do |f| %>
    <p>
      <%= f.label :nombre %><br>
      <%= f.text_field :nombre %>
    </p>

    <p>
      <%= f.label :apellido1 %><br>
      <%= f.text_area :apellido1 %>
    </p>

    <p>
      <%= f.label :apellido2 %><br>
      <%= f.text_area :apellido2 %>
    </p>

    <p>
      <%= f.label :email %><br>
      <%= f.text_area :email %>
    </p>

    <p>
      <%= f.label :apellido1 %><br>
      <%= f.text_area :apellido1 %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>