<%= form_for :register, url: register_create_path do |f| %>

    <% if @paciente.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@paciente.errors.count, "error") %> antes de guardar:</h2>

          <ul>
            <% @paciente.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :nombre %><br>
      <%= f.text_field :nombre %>
    </p>

    <p>
      Primer Apellido<br>
      <%= f.text_field :apellido1 %>
    </p>

    <p>
      Segundo Apellido<br>
      <%= f.text_field :apellido2 %>
    </p>

    <p>
      <%= f.label :identificacion %><br>
      <%= f.text_field :identificacion %>
    </p>

    <p>
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label :usuario %><br>
      <%= f.text_field :usuario %>
    </p>

    <p>
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>